:root {
    --pgo-community-day: #1660a9;
    --pgo-raid-day: #e74c3c;
    --pgo-raid-battles: #c0392b;
    --pgo-event: #27ae60;
    --pgo-raid-hour: #c0392b;
    --pgo-research: #1abc9c;
    --pgo-timed-research: #1abc9c;
    --pgo-limited-research: #159e83;
    --pgo-live-event: #d63031;
    --pgo-pokemon-go-fest: #153d94;
    --pgo-research-breakthrough: #795548;
    --pgo-special-research: #13a185;
    --pgo-global-challenge: #0a64b5;
    --pgo-go-rocket-takeover: #1e1e1e;
    --pgo-team-go-rocket: #1e1e1e;
    --pgo-giovanni-special-research: #1e272e;
    --pgo-safari-zone: #3d7141;
    --pgo-ticketed-event: #de3e9b;
    --pgo-go-battle-league: #8e44ad;
    --pgo-pokemon-spotlight-hour: #e58e26;
    --pgo-bonus-hour: #40407a;
    --pgo-update: #2980b9;
    --pgo-raid-weekend: #6f1e51;
    --pgo-potential-ultra-unlock: #2c3e50;
    --pgo-location-specific: #284b92;
}

.event-container {
    text-align: left;
}

/* Theme: Default */
.event-container.default:not(:last-child) {
    margin-bottom: 7px;
}
.event-container.default > p {
    margin: 0;
}
.event-container.default > .title {
    vertical-align: middle;
    color: var(--color-text-bright);
}
.event-container.default > .title > i {
    margin-right: 4px;
}
.event-container.default > .date {
    margin-top: -4px;
}

/* Theme: LeekDuck */
.event-container.leekduck {
    padding: 0.2em;
    border-radius: 10px;
    border: 3px;
}
.event-container.leekduck:not(:last-child) {
    margin-bottom: 5px;
}
.event-container.leekduck > .heading {
    position: relative;
    color: var(--color-text-bright);
    padding-left: 2px;
    padding-right: 55px;
}
.event-container.leekduck > .inner {
    background-color: black;
    padding: 0.2em;
    border-radius: 6px;
}
.event-container.leekduck > .inner > p {
    margin: 0;
}
.event-container.leekduck > .inner > .title {
    font-weight: bold;
    color: var(--color-text-bright);
}
.event-container.leekduck > .heading > img {
    height: 26px;
    position: absolute;
    right: 0;
    border-radius: 6px;
}