{% if events %}
    {% if events|length %}
        {% for event in events %}
            <div class="event-container default">
                <p class="title"><i class="{{ config.eventIcon }}" style="color: var(--pgo-{{ event.eventType }})"></i> {{ event.name }}</p>
                <p class="date light">{{ event.relativeDate }}</p>
            </div>
        {% endfor %}
    {% else %}
        <div style="width: 100%; text-align: left;">
            <span style="color: var(--color-text-bright);">No {% if config.category == "current" %}active{% else %}upcoming{% endif %} events.</span>
        </div>
    {% endif %}
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}