{% if events %}
    {% if events|length %}
        {% for event in events %}
            <div class="event-container leekduck" style="background-color: var(--pgo-{{ event.eventType }})">
                <div class="heading">
                    {{ event.heading }}
                    <img src="{{ event.image }}">
                </div>
                <div class="inner">
                    <p class="title">{{ event.name }}</p>
                    <p class="date">{{ event.relativeDate }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div style="width: 100%; text-align: left;">
            <span style="color: var(--color-text-bright);">No {% if config.category == "current" %}active{% else %}upcoming{% endif %} events.</span>
        </div>
    {% endif %}
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}

